/* VARIABLES*/
:root {
    --color-primary: red;
    --color-secondary: blue;
    --color-text: white;
    --spacing-md: 20px;
}

/* COMPONENTS*/
.profile-card {
    color: var(--color-primary);
    background-color: var(--color-secondary);
    border: 2px solid black;
    padding: 40px;
}

.profile-card__name {
    color: var(--color-text);
    background-color: var(--color-primary);
    border: 2px solid var(--color-secondary);
    padding: 10px;
}

.button {
    margin: var(--spacing-md);
}

.button--secondary {
    border: 2px solid var(--color-primary)
}