/* VARIABLES*/
:root {
    --color-primary: red;
    --color-secondary: blue;
    --color-text: white;
    --spacing-md: 20px;
    --background-color: orange;
}

/* COMPONENTS*/
.profile-card {
    color: var(--color-primary);
    background-color: var(--color-secondary);
    border: 2px solid black;
    padding: 40px;
}

.profile-card__name {
    color: var(--color-primary);
    background-color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    padding: 10px;
}

.button {
    color: var(--color-primary);
    padding: var(--spacing-md);
    background-color: var(--background-color);
}

.button--secondary {
    margin: var(--spacing-md);
    font-size: 15px;
}

/* BASE */
body {
    max-width: 50%;
    text-align: center;
}